name: Deploy infrastructure
on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v5
      - uses: opentofu/setup-opentofu@v1
      - name: Deploy infra
        run: |
          cd terraform/main
          tofu init
          echo Starting apply
          export TF_IN_AUTOMATION=true
          tofu apply -auto-approve
        env:
          PG_CONN_STR: ${{ secrets.PG_CONN_STR }}
          OS_AUTH_URL: ${{ secrets.OS_AUTH_URL }}
          OS_APPLICATION_CREDENTIAL_SECRET: ${{ secrets.OS_APPLICATION_CREDENTIAL_SECRET }}
          OS_APPLICATION_CREDENTIAL_ID: ${{ secrets.OS_APPLICATION_CREDENTIAL_ID }}
          TF_VAR_GOOGLE_APPLICATION_CREDENTIALS_CONTENT: ${{ secrets.TF_VAR_GOOGLE_APPLICATION_CREDENTIALS_CONTENT }}